extends layout

block content
  main
    h1 Your feed
    p Mmemo search:
    form(method="get" action="/mnemo/")
      input.search(
        type='text'
        name='title'
        id='searchInput'
        placeholder='Enter a mnemo title'
      )
      button(type="submit") Search
    ul
    each mnemo in mnemos
      li
        h3
          a(href=`/${mnemo.title}`) #{mnemo.title}
        p= mnemo.place
        p= mnemo.text
        p= mnemo.date.day + "." + mnemo.date.month + "." + mnemo.date.year
