extends layout

block content
  main
    h1 Your feed
    ul
    each mnemo in mnemos
      li
        h3
        p= mnemo.place
        p= mnemo.text
        p= mnemo.date.day + "." + mnemo.date.month + "." + mnemo.date.year
      p Mmemo search:
      form(method='get', action='/mnemo/')
        input#searchInput.search(type='text', name='title', placeholder='Enter a mnemo title')
        button(type='submit') Search
            a(href=`/mnemo/${mnemo.title}`) #{mnemo.title}
