extends layout

block content
  main
    h1 Memories
    section(role='search')
      form(method='get', action='/memories/')
        label Memory search:
        input#searchInput.search(type='text', name='searchterm', placeholder='Enter a search term')
        button(type='submit') Search
    section
    if memories.length > 0
      each memory in memories
        h3= memory.title
        p= memory.place.name
        p= memory.text
        p
          time(datetime=`${moment(memory.date).format("YYYY-MM-DD")}`) #{moment(memory.date).format('DD/MM/YYYY')}
    else
      p No memories were found
